In [1]:
import pandas as pd

In [11]:
df_ins = pd.read_csv("finalize/input/insta_enriched.csv")
df_tt=pd.read_csv("finalize/input/tiktok_enriched.csv")
df_rn=pd.read_csv("finalize/input/rednote_enriched.csv")
df_tt2= pd.read_csv("finalize/input/tiktok_2final.csv")

In [12]:
df_tt.columns

Index(['uniqueid', 'ownerid', 'name', 'username', 'tier', 'followers',
       'short_followers', 'heart', 'posts', 'reels', 'engagement', 'mentions',
       'is_brand', 'children_count', 'children_ages', 'business_category',
       'location', 'verified', 'private', 'profile_url', 'bio', 'caption',
       'timestamp', 'coauthors', 'video_url', 'hashtags', 'isbusinessaccount',
       'joinedrecently', 'contact', 'num_children', 'age_children', 'email',
       'phone', 'external_links', 'country', 'country_source',
       'primary_category', 'secondary_category', 'source'],
      dtype='object')

In [101]:
df_tt2.columns

Index(['ownerid', 'username', 'name', 'bio', 'bio_link', 'verified',
       'is_private', 'create_time', 'location', 'tier', 'followers',
       'short_followers', 'following', 'likes', 'videos', 'profile_url',
       'country', 'is_brand', 'primary_category', 'secondary_category',
       'num_children', 'age_children', 'email', 'phone', 'external_links',
       'source', 'caption', 'hashtags', 'mentions'],
      dtype='object')

In [13]:
df_tt= df_tt.drop(['children_count', 'children_ages'],axis=1)

In [14]:
#combine two tiktok first
df_combined_tt = pd.concat([df_tt,df_tt2],ignore_index=True)

In [15]:
df_combined_tt.shape

(1746, 43)

In [106]:
df_combined_tt.isna().sum()

uniqueid               487
ownerid                  4
name                     2
username                 1
tier                     1
followers                1
short_followers          1
heart                  490
posts                 1746
reels                 1746
engagement            1512
mentions                66
is_brand                 0
business_category     1746
location              1330
verified                 4
private               1588
profie_url             490
bio                    180
caption                276
timestamp              491
coauthors             1740
video_url              642
hashtags               310
isbusinessaccount     1746
joinedrecently        1746
contact               1746
num_children          1491
age_children          1674
email                 1506
phone                 1730
external_links         472
country               1116
country_source         488
primary_category         2
secondary_category       2
source                   2
bio_link              1603
is_private            1260
create_time           1260
following             1260
likes                 1260
videos                1260
profile_url           1260
dtype: int64

In [ ]:
#df_combined_tt= df_combined_tt.drop(['posts', 'reels','business_category','isbusinessaccount','joinedrecently','contact'],axis=1)

In [16]:
#add unique id
import uuid
def short_uuid(prefix="t"):
    return f"{prefix}{uuid.uuid4().hex[:8]}"
#df_combined_tt['uniqueid']=df_combined_tt.apply(lambda _:short_uuid(),axis=1)
df_combined_tt["uniqueid"]=[short_uuid("t") for _ in range(len(df_combined_tt))]

In [17]:
df_combined_tt

,uniqueid,ownerid,name,username,tier,followers,short_followers,heart,posts,reels,...,country_source,primary_category,secondary_category,source,bio_link,is_private,create_time,following,likes,videos
0,t3003e777,7.232310e+18,isa,.isabellaaap,Micro,81000.0,81K,4582.0,NaN,NaN,...,unknown,Parenting + Lifestyle,Lifestyle Mom / Dad,Tiktok,NaN,NaN,NaN,NaN,NaN,NaN
1,t3dacf9de,6.926410e+18,Logan Lynn Spain,moreclothesthansense,Micro,80700.0,80.7K,2200000.0,NaN,NaN,...,unknown,General Audience Brands,General Business,Tiktok,NaN,NaN,NaN,NaN,NaN,NaN
2,t5c3caca8,6.724710e+18,üéÄ Kelly Schilhab üéÄ,kellschil1,Micro,80100.0,80.1K,403600.0,NaN,NaN,...,unknown,Parenting + Beauty & Fashion,Mom Style / Beauty,Tiktok,NaN,NaN,NaN,NaN,NaN,NaN
3,te65f74cc,6.908110e+18,The Spirit Shoppe,thespiritshoppe,Macro,799500.0,799.5K,333200.0,NaN,NaN,...,unknown,Core Parenting & Family,Mom / Dad Blogger,Tiktok,NaN,NaN,NaN,NaN,NaN,NaN
4,ta8cde9fb,6.887720e+18,Elida Jo,elidajo4,Macro,776700.0,776.7K,21500.0,NaN,NaN,...,unknown,Parenting + Lifestyle,Lifestyle Mom / Dad,Tiktok,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1741,t34a89041,7.362650e+18,SALLY | SAHM | HOMESCHOOL üëßüèª,anythingwithsally,Nano,1010.0,1010,NaN,NaN,NaN,...,NaN,Core Parenting & Family,Mom / Dad Blogger,Tiktok,NaN,False,1.714250e+09,50.0,5654.0,54.0
1742,tbbc34c1c,7.023630e+18,Syaz. ugc smm,bloomsntea,Seeder,508.0,508,NaN,NaN,NaN,...,NaN,Core Parenting & Family,Mom / Dad Blogger,Tiktok,NaN,False,1.635338e+09,100.0,12900.0,107.0
1743,td28612b4,6.748760e+18,celestiamuse,celestiamuse,Nano,4547.0,4547,NaN,NaN,NaN,...,NaN,Core Parenting & Family,Mom / Dad Blogger,Tiktok,https://linktr.ee/celestiamuse?fbclid=PAQ0xDSw...,False,1.571289e+09,270.0,118200.0,1122.0
1744,t8559cf27,6.418640e+16,Doinks Mendoza,donnabananah,Nano,7051.0,7051,NaN,NaN,NaN,...,NaN,General Audience Brands,General Lifestyle / Brand,Tiktok,NaN,False,1.455646e+09,1.0,68800.0,247.0
1745,t5115a2c6,6.858860e+18,STORE IT. SG,store_it_sg,Seeder,48.0,48,NaN,NaN,NaN,...,NaN,General Audience Brands,General Lifestyle / Brand,Tiktok,NaN,False,1.602261e+09,21.0,465.0,21.0

In [18]:
df_combined_tt.to_csv("finalize/output_data/combine_tiktok.csv",index=False)

# combine with ig

In [19]:
df_ins.columns

Index(['uniqueid', 'ownerid', 'name', 'username', 'tier', 'followers',
       'short_followers', 'posts', 'reels', 'engagement', 'mentions',
       'is_brand', 'business_category', 'location', 'verified', 'private',
       'profile_url', 'bio', 'caption', 'timestamp', 'coauthors', 'video_url',
       'hashtags', 'isbusinessaccount', 'joinedrecently', 'contact',
       'num_children', 'age_children', 'email', 'phone', 'external_links',
       'country', 'country_source', 'primary_category', 'secondary_category',
       'source'],
      dtype='object')

In [20]:
#add unique id
import uuid
def short_uuid(prefix="i"):
    return f"{prefix}{uuid.uuid4().hex[:8]}"

df_ins["uniqueid"]=[short_uuid("i") for _ in range(len(df_ins))]

In [21]:
df_combined_ttig = pd.concat([df_combined_tt,df_ins],ignore_index=True)

In [23]:
df_combined_ttig.columns

Index(['uniqueid', 'ownerid', 'name', 'username', 'tier', 'followers',
       'short_followers', 'heart', 'posts', 'reels', 'engagement', 'mentions',
       'is_brand', 'business_category', 'location', 'verified', 'private',
       'profile_url', 'bio', 'caption', 'timestamp', 'coauthors', 'video_url',
       'hashtags', 'isbusinessaccount', 'joinedrecently', 'contact',
       'num_children', 'age_children', 'email', 'phone', 'external_links',
       'country', 'country_source', 'primary_category', 'secondary_category',
       'source', 'bio_link', 'is_private', 'create_time', 'following', 'likes',
       'videos'],
      dtype='object')

# combine rednote

In [ ]:
# before combine or enrich can run this code to clean data, here is an example
import json
with open("raw data/agentql/response_third.json","r", encoding="utf-8") as f:
    data = json.load(f) 
records = []
for acc in data["account"]:
    text = acc.get("text", [])
    user_name = text[0] if len(text) > 0 else None
    xhs_id = text[1].replace("Â∞èÁ∫¢‰π¶Âè∑Ôºö", "").strip() if len(text) > 1 else None
    followers = text[2].replace("Á≤â‰∏ù„Éª", "").strip() if len(text) > 2 else None
    notes = text[3].replace("Á¨îËÆ∞„Éª", "").strip() if len(text) > 3 else None
    
    records.append({
        "user_name": user_name,
        "id": xhs_id,
        "followers": followers,
        "note": notes,
        "last_update": acc.get("date"),
        "url": acc.get("url")
    })


# convert to DataFrame
df_rednote = pd.DataFrame(records)

In [24]:
df_rn.columns

Index(['username', 'zh_username', 'last_update', 'zh_last_update', 'ownerid',
       'followers', 'tier', 'posts', 'heart', 'bio', 'zh_bio', 'location',
       'zh_location', 'tags', 'zh_tags', 'timestamp', 'profile_url', 'country',
       'is_brand', 'email', 'phone', 'external_link', 'contact',
       'primary_category', 'secondary_category', 'num_children',
       'age_children', 'external_links'],
      dtype='object')

In [25]:
def get_tier(followers: int) -> str:
    if followers < 1000:
        return "Seeder"
    elif followers < 10000:
        return "Nano"
    elif followers < 100000:
        return "Micro"
    elif followers < 1000000:
        return "Macro"
    else:
        return "Celebrity"


df_rn['tier']=df_rn['followers'].apply(get_tier)

In [26]:
#add unique id
import uuid
def short_uuid(prefix="t"):
    return f"{prefix}{uuid.uuid4().hex[:8]}"
df_rn["uniqueid"]=[short_uuid("r") for _ in range(len(df_rn))]

In [27]:
df_rn= df_rn.drop(['last_update', 'zh_last_update','zh_location','zh_tags'],axis=1)

In [28]:
df_rn['source']="Rednote"

In [29]:
df_combined3_new = pd.concat([df_combined_ttig,df_rn],ignore_index=True)

In [30]:
df_combined3_new[df_combined3_new['source'].isna()]

,uniqueid,ownerid,name,username,tier,followers,short_followers,heart,posts,reels,...,bio_link,is_private,create_time,following,likes,videos,zh_username,zh_bio,tags,external_link
1258,t228a8e97,210455000000000000.0,clara,helloitsclarat,Seeder,1.0,1,661.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1259,t7fe4070e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df_combined3_new['source']=df_combined3_new['source'].fillna("Tiktok")

In [32]:
df_combined3_new['source'].unique()

array(['Tiktok', 'Instagram', 'Rednote'], dtype=object)

In [33]:
df_combined3_new.to_csv("finalize/output_data/combine_all3.csv",index=False)